AddType 'text/html; charset=UTF-8' html
<Files ~ 'i18n-css-syntax-bytes-006.html'>
ForceType 'text/html; charset=ISO-8859-15'
</Files>
<Files ~ 'i18n-css-syntax-bytes-001.html'>
ForceType 'text/html; charset=ISO-8859-15'
</Files>
<Files ~ 'i18n-css-syntax-bytes-007.html'>
ForceType 'text/html; charset=ISO-8859-15'
</Files>
<Files ~ 'i18n-css-syntax-bytes-019.html'>
ForceType 'text/html; charset=UTF-8'
</Files>
<Files ~ 'i18n-css-syntax-bytes-020.html'>
ForceType 'text/html; charset=UTF-8'
</Files>
<Files ~ 'i18n-css-syntax-bytes-017.html'>
ForceType 'text/html; charset=ISO-8859-1'
</Files>
